<template>
  <div class="dashboard">
    <h1 class="subheading grey--text">Dashboard</h1>

    <v-container class="my-5">

      <v-layout row class="mb-3" no-gutters>

        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn small depressed color="grey lighten-3 mr-3" @click="sortBy('title')" v-bind="attrs" v-on="on">
              <v-icon left small>mdi-folder</v-icon>
              <span class="caption text-lowercase">By project name</span>
            </v-btn>
          </template>
          <span>Sort Project By Project Name</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn small depressed color="grey lighten-3" @click="sortBy('person')" v-bind="attrs" v-on="on">
              <v-icon left small>mdi-account</v-icon>
              <span class="caption text-lowercase">By person name</span>
            </v-btn>
          </template>
          <span>Sort Project By Person Name</span>
        </v-tooltip>

      </v-layout>

      <v-card color="blue lighten-5" flat 
        v-for="project in projects" 
        :key="project.person"        
      >
        <v-layout row wrap :class="`pa-3 project ${project.status}`" no-gutters>
          <v-flex xs12 md6>
            <div class="caption grey--text">Project title</div>
            <div>{{ project.title }}</div>
          </v-flex>
          <v-flex xs6 sm4 md2>
            <div class="caption grey--text">Person</div>
            <div>{{ project.person }}</div>
          </v-flex>
          <v-flex xs6 sm4 md2>
            <div class="caption grey--text">Due by</div>
            <div>{{ project.due }}</div>
          </v-flex>
          <v-flex xs6 sm4 md2>
            <div class="right">
              <v-chip active small :class="`${project.status} white--text my-2 caption`">
                {{ project.status }}
              </v-chip>
            </div>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
      </v-card>

    </v-container>
  </div>

</template>

<script>
// @ is an alias to /src
export default {
  data() {
    return {
      projects: [
        { title: 'Design a new website', person: 'The Net Ninja', due: '1st Jan 2019', status: 'ongoing', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Code up the homepage', person: 'Chun Li', due: '10th Jan 2019', status: 'complete', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Design video thumbnails', person: 'Ryu', due: '20th Dec 2018', status: 'complete', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Create a community forum', person: 'Gouken', due: '20th Oct 2018', status: 'overdue', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
      ]
    }
  },
  methods: {
    sortBy(prop) {
      this.projects.sort((a, b) => {
        if(a[prop] < b[prop]) {
          return - 1
        }
        else {
          return 1
        }
      })
    }
  }
}
</script>

<style scoped>
  /*.row {
    margin-right: 0;
    margin-left: 0;
  }*/
  .project.ongoing {
    border-left: 4px solid #008000;
  }
  .project.complete {
    border-left: 4px solid #5f5f5f;
  }
  .project.overdue {
    border-left: 4px solid #cece02;
  }
  .v-chip.complete{
    border: 1px solid #5f5f5f;
    background: #5f5f5f !important;
  }
  .v-chip.ongoing{
    background: #3cd1c2 !important;
    border: 1px solid #3cd1c2;
  }
  .v-chip.overdue{
    background: #cece02 !important;
    border: 1px solid #cece02;
  }
</style>
