<template>
  <div class="team">
    <h1 class="subheading grey--text">team</h1>

    <v-container class="my-5">
      <v-layout row wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="person in team" :key="person.name">
          <v-card class="text-center ma-3">
            <v-responsive class="pt-4">
              <v-avatar size="100" class="grey lighten-2">
                <img :src="person.avatar">
              </v-avatar>
            </v-responsive>
            <v-card-text>
              <div class="subheading">{{ person.name }}</div>
              <div class="grey--text">{{ person.role }}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn depressed color="grey lighten-3" style="margin: auto">
                <v-icon small left>mdi-message</v-icon>
                <span>message</span>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>

</template>

<script>

export default {
  data() {
    return {
      team: [
        {name: 'Mehedi Hasan', role: 'Web Developer', avatar: 'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name: 'Ashik Ahammed', role: 'Senior Developer', avatar: 'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name: 'Hridoy Hossen', role: 'Backbencher', avatar: 'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name: 'Master Idrish', role: 'Mr. Perfect', avatar: 'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name: 'Kala Sonjit', role: 'Nurd', avatar: 'https://cdn.vuetifyjs.com/images/john.jpg'}
      ]
    }
  }
}
</script>
