<template>
  <div>
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="red accent-3 white--text" v-bind="attrs" v-on="on">Add New Project</v-btn>
      </template>
      <v-card>
        <v-card-title  class="headline grey lighten-2">
          Add New Project
        </v-card-title>
        <v-card-text>
          <v-form class="px-3">
            <v-text-field label="Title" v-model="title" prepend-icon="mdi-folder"></v-text-field>
            <v-textarea label="Information" v-model="content" prepend-icon="mdi-pencil"></v-textarea>
            
            <v-menu>
              <template v-slot:activator="{ on, attrs }">
                <v-text-field :value="due" label="Due date" 
                  prepend-icon="mdi-calendar-edit" v-bind="attrs" v-on="on"
                >
                </v-text-field>
                
              </template>
              <v-date-picker v-model="due"></v-date-picker>

            </v-menu>

            <v-btn flat class="primary mx-0 mt-3" @click="submit">Add Project</v-btn>
          </v-form>
        </v-card-text>
      
        <v-divider></v-divider>
        <v-card-action>
          <v-btn color="primary" text @click="dialog = false">I accept</v-btn>
        </v-card-action>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {format, parseISO} from 'date-fns'
// import format from 'date-fns'
export default {
  data() {
    return {
      dialog: false,
      title: '',
      content: '',
      //due: null
      due: format(parseISO(new Date().toISOString()), 'yyyy-MM-dd')
    }
  },
  methods: {
    submit() {
      console.log(this.title, this.content)
    }
  },
  computed: {
    formattedDate () {
        return this.due ? format(this.due, 'EEEE, MMMM do yyyy') : ''
      }
  }
}
</script>
