<template>
  <v-app>
    <Navbar />
    <!-- <NavbarSpand /> -->
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
  import Navbar from '@/components/Navbar'
  //import NavbarSpand from '@/components/NavbarSpand'
  export default {
    name: 'App',
    components: {
      Navbar,
      //NavbarSpand
    },
    data() {
      return {
        //
      }
    }
  }
</script>
